*{
	 margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: arial;
  background-image: url('ede.png');
}

.form-login {
  width: 400px;
  height: 340px;
  background: #fd7e14;
  margin: auto;
  margin-top: 110px;
  box-shadow: 16px 24px 46px #000;
  padding: 20px 30px;
  border-top: 10px solid #017bab;
  color: white;
}

.form-login h5 {
  margin: 0;
  text-align: center;
  height: 40px;
  margin-bottom: 30px;
  border-bottom: 4px solid;
  font-size: 30px;
}

.controls {
  width: 100%;
  border: 3px solid #017bab;
  margin-bottom: 17px;
  padding: 11px 10px;
  background: #fff;
  font-size: 17px;
  font-weight: bold;
}

.buttons {
  width: 100%;
  height: 40px;
  background: #017bab;
  border: none;
  color: white;
  margin-bottom: 16px;
}

}